<template>
    <div class="alert alert-primary" role="alert">
        <marquee behavior="" direction=""><h5><b>Thể Loại Thú Cưng</b></h5></marquee>
    </div>
    
    <div class="card" style="background-color: beige;">
        <div class="card-header text-center">
            <h6><b class="text-danger ">Phụ Kiện Cho Chó</b></h6>
        </div>
        <div class="card-body">
            <div class="col-lg-3">
                <a href="https://ant.design/components/card"><div class="card item">
                    <div class="card-body">
                        <img style="width: 100%" src="../../assets/img/Yellow and Purple Simple Pet Food Sale Instagram Post.svg" alt="">
                        <label class="mt-3 d-flex justify-content-center" style="font-size: 22px; font-weight: 500; color: #111; line-height: 1.4;">Dog Food</label>
                        <p style="font-size: 14px; font-weight: 400; color: #666; line-height: 1.4;">Royal Canin Large Puppy Dry Dog Food – Thức Ăn Chó Con Cỡ Lớn (Loại Hạt)</p>          
                    </div>
                </div></a>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style>
body {
  background-color: rgb(240, 250, 176);
}
.title {
  color: #f9455d;
}

.item {
    border-radius: 40px;
    border-bottom: #f9455d 5px solid;

}

img {
    border-radius: 30px;
}

.card-body {
    padding: 10px;
}

.cta {
    margin: 5px;
    text-align: center;
}

.cta button {
    margin: 0 5px;
}
</style>