<template>
  <div class="container-fluid">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../../assets/img/1.svg"
            class="d-block w-100 style-banner"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../assets/img/2.svg"
            class="d-block w-100 style-banner"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../assets/img/3.svg"
            class="d-block w-100 style-banner"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <img
          width="550px"
          src="https://images.unsplash.com/photo-1535930749574-1399327ce78f?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
      </div>
      <div class="col-lg-6" style="display: flex; align-items: center">
        <div class="info">
          <h1 class="title mb-4">
            <span>MyPets</span> PetS SITTING - DỊCH VỤ TRÔNG GIỮ HỘ
          </h1>
          <p>
            Chăm sóc và thực hiện đầy đủ công tác vệ sinh: bữa ăn cân đối dinh
            dưỡng theo thể trạng, chải lông, đi dạo,…
          </p>
          <p>Kiểm tra sức khoẻ mỗi ngày một cách chu đáo.</p>
          <p>
            Bắt trọn các khoảnh khắc vui vẻ của các con trực tiếp qua hệ thống
            camera cố định, nhiều góc nhìn.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6" style="display: flex; align-items: center">
        <div class="info-1">
          <h1 class="title mb-4">
            <span>MyPets</span> PetS GROOMING - CHĂM CHÚT NHAN SẮC
          </h1>
          <p>
            Tắm vệ sinh
          </p>
          <p>Cắt tỉa tạo kiểu</p>
          <p>
            Nhuộm, tắm trắng, hấp collagen dưỡng lông
          </p>
          <p>Vệ sinh răng miệng</p> <p>Cắt móng, vệ sinh tai v.v.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <img
          width="550px"
          src="https://plus.unsplash.com/premium_photo-1668708604243-8bf83328e1a1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style>
.style-banner {
  height: 500px;
}
body {
  background-color: azure;
}
.title {
  color: #f9455d;
}
.title span {
  color: #75a70a;
}
p {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.info {
    height: fit-content;
    border: 2px dashed #333;
    border-radius: 10px;
    padding: 10px;
    background-color: beige;
}
.info-1 {
    height: fit-content;
    border: 2px dotted #ffaf59;
    border-radius: 10px;
    padding: 10px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);


}
</style>
