<template>
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-4" style="display: flex; align-items: center;">
        <div><h1 class="title mb-4 "><span>MyPets</span> Chăm sóc thú cưng</h1>
        <p>
          Spa, làm móng, cắt tóc, tỉa lông, tắm rửa, khám bệnh, tư vấn dinh
          dưỡng.
        </p></div>
      </div>
      <div class="col-lg-8 text-center">
        <img class="banner-pets" src="../../assets/img/banner_pets.svg" alt="">
      </div>
    </div>
    <div class="row mt-3 d-flex">
        <div class="col-lg-4 d-flex">
            <div class="card" style="background-color: beige;">
                <div class="card-header header-item">
                    <b><h5>Chó Alaska nâu đỏ VIP mã ALK1615</h5></b>
                </div>
                <div class="card-body">
                    <img class="header-img" src="https://pethouse.com.vn/wp-content/uploads/2024/03/1-lak-1615.jpg" alt="">
                    <label class="mt-2 text-secondary"><b>Chó Alaska nâu đỏ VIP mã ALK1615 sở hữu thân hình vạn người mê. Bé cún Alaska này sở hữu thân hình cực khủng với bộ khung chắc khỏe, chân tay to, mặt bánh bao trông cực đáng yêu.</b></label>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex">
            <div class="card" style="background-color: beige;">
                <div class="card-header header-item">
                    <b><h5>Mèo Ragdoll Lilac mã RD846</h5></b>
                </div>
                <div class="card-body">
                    <img class="header-img" src="https://pethouse.com.vn/wp-content/uploads/2023/03/anh-meo-ragdoll-2002020090900.jpg" alt="">
                    <label class="mt-2 text-secondary"><b>Mèo Ragdoll Lilac mã RD846 được 2 tháng tuổi được tiêm phòng và tẩy giun đầy đủ khoác lên mình bộ lông dài mềm mượt sang trọng, mèo con có sức khoẻ ăn uống tốt đã sẵn sàng được đón về nhà mới.</b></label>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex">
            <div class="card" style="background-color: beige;">
                <div class="card-header header-item" >
                    <b><h5>Mèo Ba Tư Golden mã BT682</h5></b>
                </div>
                <div class="card-body">
                    <img class="header-img" src="https://pethouse.com.vn/wp-content/uploads/2023/02/anh-meo-ba-tu-292929.jpg" alt="">
                    <label class="mt-2 text-secondary"><b>Mèo Ba Tư Golden mã BT682 với thần thái sang trọng cùng đôi mắt chứa cả một bầu trời đáng yêu. Bé có chất lông đẹp nổi bật, khuôn mặt tịt dễ thương cute nhìn vào chắc chắn mọi người ai cũng phải mê mẩn bé mèo này.

</b></label>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style>
body {
    background-color: beige   ;
}   
.title {
  color: #2f327d;
}
.title span {
  color: #f48c06;
}
p {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.banner-pets {
    width: 600px;
}

.header-item {
    height: 70px;
}

.header-img {
    width: 100%;
    height: 500px;
}
</style>
