<template>
    <div class="overlay toggle-icon "></div>
       <footer class="page-footer ">
        <p class="mb-0 text-end">MyPetS 2024 Mang thú cưng tới mọi nhà!</p>
    </footer>
</template>
<script>
export default {

}
</script>
<style>

</style>