<template>
  <div class="nav-container primary-menu" style="background-color: #f1c40f;">
    <div class="mobile-topbar-header">
      <div>
        <i class="fa-solid fa-shield-cat fa-xl"></i>
      </div>
      <div>
        <h4 class="logo-text">MyPetS</h4>
      </div>
      <div class="toggle-icon ms-auto"><i class="bx bx-arrow-to-left"></i></div>
    </div>
    <nav class="navbar navbar-expand-xl w-100">
      <ul class="navbar-nav justify-content-start flex-grow-1 gap-1">
        <li class="nav-item dropdown me-5">
          <a
            href="javascript:;"
            class="nav-link dropdown-toggle dropdown-toggle-nocaret"
            data-bs-toggle="dropdown"
          >
            <i class="fa-solid fa-shield-cat fa-2xl"></i>
            <div class="menu-title">List PetS</div>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="ecommerce-products.html"
                ><img style="width: 20px;" src="https://pethouse.com.vn/wp-content/uploads/2022/08/icon-dog-menu-pethouse.png" alt="">DogS</a>
            </li>
            <li>
              <a class="dropdown-item" href="ecommerce-products.html"
                ><img style="width: 20px;" src="https://pethouse.com.vn/wp-content/uploads/2022/08/cat-icon-menu-pethouse-280x280.png" alt="">CatS</a>
            </li>
            <li>
              <a class="dropdown-item" href="ecommerce-products.html"
                ><i class="fa-solid fa-piggy-bank"></i>PigS</a>
            </li>
            <li>
              <a class="dropdown-item" href="ecommerce-products.html"
                ><i class="fa-solid fa-crow"></i>ParrotS</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/the-gioi-pets">
            <div class="parent-icon"><img style="width: 50px;" src="https://aeropets.co.za/wp-content/uploads/2021/01/Pet-travel-destinations.png" alt=""></div>
            <div class="menu-title">Thế Giới PetS</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/spa">
            <div class="parent-icon"><img style="width: 40px;" src="https://cdn0.iconfinder.com/data/icons/pet-grooming-hazel-vol-1/256/Pet-spa-1024.png" alt=""></div>
            <div class="menu-title">Spa</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/phukien">
            <div class="parent-icon"><img style="width: 40px;" src="../../assets/img/petitem.png" alt=""></div>
            <div class="menu-title">Phụ Kiện</div>
          </a>
        </li>
        <template v-for="(value, index) in list_danh_muc" :key="index">
          <li class="nav-item">
            <router-link to="/admin/san-pham">
              <a class="nav-link" href="/admin/san-pham">
                <div class="parent-icon">
                  <span v-html="value.icon_danh_muc"></span>
                </div>
                <div class="menu-title">{{ value.ten_danh_muc }}</div>
              </a>
            </router-link>
          </li>
        </template>
      </ul>
    </nav>
  </div>
</template>
<script>

export default {};
</script>
<style></style>
