<template>

    <div class="topbar d-flex align-items-center " style="background-color: #FFF2E1;">
        <nav class="navbar navbar-expand">
            <div class="topbar-logo-header">
                <div class="">
                    <i class="fa-solid fa-paw"></i>
                </div>
                <div class="">
                    <h4 class="logo-text">MyPetS</h4>
                </div>
            </div>
            <div class="mobile-toggle-menu"><i class='bx bx-menu'></i></div>
            <div class="search-bar flex-grow-1">
                <div class="position-relative search-bar-box">
                    <input style="border-radius: 999px; width: 500px; border: 1px solid #ccc; background-color: transparent;" type="text" class="form-control search-control" placeholder="Tên Hoàng Thượng">
                    <span class="position-absolute top-50 search-show translate-middle-y"><i
                            class='bx bx-search'></i></span>
                    <span class="position-absolute top-50 search-close translate-middle-y"><i
                            class='bx bx-x'></i></span>
                </div>
            </div>
            <div class="top-menu ms-auto">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item mobile-search-icon">
                        <a class="nav-link" href="#"> <i class='bx bx-search'></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-box dropdown">
                <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret"
                    href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://i0.wp.com/thatnhucuocsong.com.vn/wp-content/uploads/2022/03/hinh-cute-meo.jpg?fit=902%2C902&ssl=1" class="user-img" alt="user avatar">
                    <div class="user-info ps-3">
                        <p class="user-name mb-0">A Quân Ryuga</p>
                        <p class="designattion mb-0">Chủ trại</p>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="javascript:;"><i
                                class="bx bx-user"></i><span>Hồ Sơ</span></a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;"><i
                                class="bx bx-cog"></i><span>Cài Đặt</span></a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;"><i
                                class='bx bx-home-circle'></i><span>Lịch Sử</span></a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;"><i
                                class='bx bx-dollar-circle'></i><span>Số dư tài khoản</span></a>
                    </li>
                    <li>
                        <div class="dropdown-divider mb-0"></div>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;"><i
                                class='bx bx-log-out-circle'></i><span>Đăng Xuất</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>
<script>
export default {

}
</script>
<style>

</style>